
<footer>

      
    
      <div class="container-logo-footer">
      <a href="/"> <img class="logo" src="/00.assets/logo.svg" alt="logo ocofee"></a>
      <span>O'Coffee</span>
</div>
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/boutique">Boutique</a></li>
      </ul>

            <div class="socials">
                  <a href="#"><img src="/00.assets/coffees/icons8-facebook-48.png" alt="social facebook"></a>
                  <a href="#"><img src="/00.assets/coffees/icons8-instagram-48.png" alt="social instagram"></a>
                  <a href="#"><img src="/00.assets/coffees/icons8-twitterx-50.png" alt="social twitterX"></a>
            </div>
   

</footer>

</body>
</html>