<header>
        <nav>
           <a href="/"> <img class="logo" src="/00.assets/logo.svg" alt="logo ocofee"></a>
           <span>O'Coffee</span>
            <div id="burger-menu">
                <span></span>
              </div>
            <div id="menu">
            <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/boutique">Boutique</a></li>
            </ul>
            </div>
        </nav>
</header>